@import url("reset.css");




.newtitle h1{ font-family:"SimHei"; font-size:28px; text-align:center;}
.newtitle .info{border-bottom:2px solid #bdbcbc; line-height:37px; color:#898989; position:relative;}
.newtitle .info span.time,.newtitle .info span.from,.newtitle .info span.author{ margin-right:20px;}
.newtitle .info span.ydl{ float:right; margin-right:164px;} 
.newdetail{ margin-bottom:30px;}
.newdetail img{width:100%; margin:37px 0;}
.newdetail p{text-indent:2em; line-height:30px;}

.pageswitch {color:#898989;}
.pageswitch a{color:#898989;}
.returnto{ text-align:right; }
.returnto a{color:#898989;}

.jiathis_style{position:absolute; right:0px; top:9px;}



